.head,
h1 {
  text-align: center;
  line-height: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
table {
  margin: 2rem auto;
  width: 100%;
}
table,
.table th:not([align]) {
  text-align: center;
}
.price {
  display: flex;
  gap: 1rem;
}
.total {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.total::before {
  content: "Total:";
}
